// ---- COLOR VARIABLES ----
$primary-color: rgb(57, 61, 69);
$secondary-color: rgba(195, 200, 212, 0.25);
$accent-color: rgb(255, 255, 255);
$primary-color-hover: rgba(57, 61, 69, 0.8);
$danger-color: rgb(130, 30, 30);
$success-color: rgb(50, 80, 60);

$light-paragraph: rgba(57, 61, 69, 0.7);
$footer-text: rgba(57, 61, 69, 0.3);
$light-border: rgba(57, 61, 69, 0.3);
$box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);

// ---- FONT VARIABLES ----
$zen: "Zen Antique", serif;
$roboto: "Roboto", sans-serif;
$robotoslab: "Roboto Slab", serif;
$light-font: 400;
$regular-font: 500;
$bold-font: 700;
$h1: 3.5rem;
$h2: 2.2rem;
$h3: 1.5rem;
$nav-size: 1.1rem;
$text-size: 1rem;

// ---- PADDING VARIABLES ----
$section: 6rem;
$side-col: 140px;
$button-padding: 0.5rem 1rem;

// ---- TRANSITION VARIABLES ----
$tr100: 100ms ease-in;
$tr200: 200ms ease-in;

// ---- MIN COLUMN SIZE ----
$col: 346px;
